#contactsMenu{
 border: 1px solid black;
 height: 500px;
 width: 200px;   
 overflow: scroll;
}

#chatMenu{
    border: 1px solid red;
    height: 500px;
    width: 200px;
    display: inline-block;
    overflow: scroll;
}

div{
    display: inline-block;
}