<!DOCTYPE html>
<html>
<head>
<title>HackApp:Chatbox</title>
<link rel="stylesheet" type="text/css" href="/visualization/chatbox.css" />
</head>
<body>
    <h1>This is chat Box</h1>
    <div id="from">test1</div>
    <div id="to">test2</div>
    <div id="contactsMenu"> 
        Contacts Menu
        <br>
        <div>
            New Text
        </div>
    </div>
    <div id="chatMenu"> 
        Chat Menu
        <div id="message">This is first message</div>
    </div>
    <button id="send">Send Message</button>
    
</body>
</body>
</html>