<!DOCTYPE html>
<html>

<head>
    <title>HackApp:Chatbox</title>
    <link rel="stylesheet" type="text/css" href="/visualization/chatbox.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js"
        integrity="sha512-AcZyhRP/tbAEsXCCGlziPun5iFvcSUpEz2jKkx0blkYKbxU81F+iq8FURwPn1sYFeksJ+sDDrI5XujsqSobWdQ=="
        crossorigin="anonymous">
    </script>

</head>

<body>
    <h1>This is chat Box</h1>

    <div>
        <label for="from">From</label>
        <input type="text" name="fromUser" id="fromUser"></input>
        <label for="to">To</label>
        <input type="text" name="toUser" id="toUser"></input>
        <label for="message">Message</label>
        <input type="text" name="messageUser" id="messageUser"></input>
        <button id="sendButton">Submit</button>
    </div>
    <script src="/javaScript/chatbox.js"></script>
</body>

</html>