<!DOCTYPE html>
<html>

<head>
    <title>HackApp</title>
    <link rel="stylesheet" type="text/css" href="/visualization/indexpage.css" />
</head>

<body>
    <div id="middleDiv">
        <a href="http://localhost:3000/login/" target="_self">
            <button>
                Login Page
            </button>
        </a>
        <br>
        <br>
        <a href="http://localhost:3000/register/" target="_self">
            <button>
                Register Page
            </button>
        </a>
        <div class="bar">
            <input class="searchbar" type="text" value="We are protector of our identity" readonly>
        </div>
    </div>

</body>
</body>

</html>