<!DOCTYPE html>
<html>
<head>
<title>Register</title>
</head>
<body>
    <form>
        <label for="userName">User Name</label><br>
        <input type="text" id="userName" name="userName"><br>
        <label for="Password">Password</label><br>
        <input type="password" id="Password" name="Password"><br><br>
        </form> 
    <button>Login</button>
    <br>
    <br>
    <a href="http://localhost:3000/reset/" target="_self">
        <button>Reset ID or Pass</button>
    </a>
</body>
</html>