<!DOCTYPE html>
<html>
<head>
<title>Register</title>
</head>
<body>
    <form>
        <label for="email">Email</label><br>
        <input type="text" id="email" name="email"><br>
    </form>
    <br> 
    <button>Reset Password</button>
    <br>
    <br>
    <a href="http://localhost:3000/" target="_self" formmethod="get">
        <button>Home Page</button>
    </a>
    
    <a href="http://localhost:3000/login/" target="_self">
        <button>Login Page</button>
    </a>

    <a href="http://localhost:3000/register/" target="_self">
        <button>Register Page</button>
    </a>

</body>
</html>

